<!-- 404.html   -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>404 - Not Found</title>
</head>
<body>
    <div class="error-container">
        <h1>404 (AKA You're Not Supposed to Be Here)</h1>
        <img src="{{ url_for('static', filename='img/profile_cat.jpg') }}" alt="Profile" >
        <p>:- </p>
        <a href="{{ url_for('index') }}" class="get-started-button">Take Me Home</a>
    </div>
    <style>
        .error-container {
            text-align: center;
            padding: 50px;
        }
        .error-cat {
            width: 300px;
            height: auto;
            margin: 20px 0;
        }
    </style>
</body>
</html>