<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>QuizMe - Edit Flashcard Set</title>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo-container">
      <img src="logo.png" alt="QuizMe" class="logo">
    </div>
  </header>

  <section class="flashcards">
    <form method="POST" action="{{ url_for('edit_flashcard_set', flashcard_set_name=flashcard_set.name) }}">
      <h2>Edit Flashcard Set - {{ flashcard_set.name }}</h2>
      <table>
        <tr>
          <th>Question</th>
          <th>Answer</th>
        </tr>
        {% for flashcard in flashcard_set.flashcards %}
          <tr>
            <td><input type="text" name="question[]" value="{{ flashcard.front }}"></td>
            <td><input type="text" name="answer[]" value="{{ flashcard.back }}"></td>
          </tr>
        {% endfor %}
      </table>
      <button type="submit">Save Changes</button>
    </form>
  </section>
</body>
</html>
