<!-- edit-flashcards.html   -->

{% extends "base.html" %}

{% block title %}QuizMe - Edit Your Flashcard{% endblock %}

{% block content %}
  <section class="flashcards">
    <form method="POST" action="{{ url_for('edit_flashcard_set', flashcard_set_name=flashcard_set.name) }}">
      <h2>Editing Flashcard Set - {{ flashcard_set.name }}</h2>
      <table id="flashcard-table">
        <tr>
          <th>Question</th>
          <th>Answer</th>
          <th>Action</th>
        </tr>
        {% for flashcard in flashcard_set.flashcards %}
          <tr>
            <td><input type="text" name="question[]" value="{{ flashcard.front }}" required oninput="checkInput(this)"></td>
            <td><input type="text" name="answer[]" value="{{ flashcard.back }}" required oninput="checkInput(this)" ></td>
            <td>
              <button type="button" class="delete-flashcard-button" onclick="deleteFlashcard(this)">Delete</button>
            </td>
          </tr>
        {% endfor %}
      </table>
      <div class="button-container">
        <button type="button" id="add-flashcard" class="add-flashcard-button" onclick="addFlashcard()">+</button>
      </div>
      
      <button id="save_fulashcards" type="submit" disabled>Save Changes</button>
    </form>
  </section>
  
  <script>
    document.addEventListener('DOMContentLoaded', updateSaveButton);
  </script>

{% endblock %}

