<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>QuizMe</title>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo-container">
      <h1><b>QuizMe</b></h1>
    </div>
  
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
        <li><a href="{{ url_for('about_us') }}">About Us</a></li>

      </ul>
    </nav>
  </header>

  <div class="space">
    
  </div>

  <div class="first">
    <div class="image-container">
<img className="img" src="{{ url_for('static', filename='first.jpg') }}" alt="first">
</div>
<div class="text-container">
  <section class="hero">
    <h1 class="Heading">Level Up Your Learning!</h1>
    <p class="subtitle3">Create unlimited Flashcards with jsut one click.</p>
    <div class="container">
      <a href="{{ url_for('login') }}" class="get-started-button">Get Started</a>
    </div>
  </section>
</div>
</div>
</body>
</html>
