<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>QuizMe</title>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo-container">
        <img src="logo.png" alt="QuizMe" class="logo">
    </div>
  
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
        <li><a href="{{ url_for('new_flash') }}">New Flash</a></li>
        <li><a href="{{ url_for('get_started') }}">Get Started</a></li>
        <li><a href="{{ url_for('append') }}">Append</a></li>
        <li><a href="{{ url_for('success') }}">Success</a></li>
        <li><a href="{{ url_for('your_flashcards') }}">Your Flashcards</a></li>
        <li><a href="{{ url_for('about_us') }}">About Us</a></li>

      </ul>
    </nav>
  </header>

  <section class="hero">
    <h1 class="Heading">Create Flashcards with Ease</h1>
    <p class="subtitle">QuizMe is the ultimate flashcard generator that leverages the power of AI. Simply input your study material, and we'll generate accurate and concise flashcards for you. Save time, improve retention, and personalize your learning experience.</p>
    <div class="container">
      <a href="{{ url_for('login') }}" class="get-started-button">Get Started</a>
    </div>
  </section>
</body>
</html>
