<!-- index.html   -->

{% extends "base.html" %}

{% block title %}QuizMe{% endblock %}

{% block content %}
<div class="hero-section">
  <div class="image-container">
    <img class="img" src="/static/img/woman_studying.jpg" alt="A Woman Studying">
  </div>
  <div class="text-container">
    <section class="hero">
      <h1 class="heading">Level Up Your Learning!</h1>
      <p class="subtitle">Create unlimited Flashcards with just one click.</p>
      <div class="container">
        <a href="{{ url_for('login') }}" class="get-started-button">Get Started</a>
      </div>
    </section>
  </div>
</div>

<footer class="app-footer">
  <p>&copy; 2023 QuizMe. All rights reserved.</p>
</footer>
{% endblock %}

