<!-- login.html   -->

{% extends "base.html" %}

{% block title %}QuizMe - Login{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="access">
        <p>Access Your <span class="flashcards-text">flashcards!</span></p>
    </div>
    <div class="login-container">
        <section class="login-page">
            <div class="form-container">
              <h2 class="log-in-sign-up-text">Login</h2>

              {% if error_message %}
              <p class="error-message">{{ error_message }}</p>
              {% endif %}

                <form action="{{ url_for('login') }}" method="POST">
                    <input type="text" name="email" id="email" placeholder="Email or Username">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <button type="submit">Login</button>
                    <p class="signup-instruction">Don't have an account yet? Sign up below:</p>
                    <div id="signup-button">
                        <a href="{{ url_for('signup') }}">Sign up</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}