<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>QuizMe - Get Started</title>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
  <script src="script.js"></script> <!-- Add the script.js file for handling button clicks -->
</head>
<body>
  <header>
    <div class="logo-container">
      <h1><b>QuizMe</b></h1>
    </div>
  
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('login') }}" class="active">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
        <li><a href="{{ url_for('about_us') }}">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="login-container">
    <div class="Access">
      <p>Access Your <span class="flashcards-text">flashcards!</span></p>
    </div>
    <section class="login-page">
      <div class="form-container">
        <form action="{{ url_for('login') }}" method="POST">
          <p><span class="log-in-sign-up-text">Log in or Sign up</span></p>
          <h4>Username: </h4>
          <input type="text" name="email" id="email" placeholder="Email Address">
          <h4>Password: </h4>
          <input type="password" name="password" id="password" placeholder="Password">
          <button type="submit" id="login-button">Login</button>
          <p class="signup-instruction">Don't have an account yet? Sign up below:</p>
      
          <div class="container"> 
            <a href="{{ url_for('signup') }}" id="signup-button"> <p id = 'signup_text'> Sign up </p></a>
          </div>
        </form>
      </div>
  
    </section>
  <footer>
    <!-- Add your footer content here -->
  </footer>
</body>
</html>

