<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>QuizMe - Get Started</title>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo-container">
      <img src="logo.png" alt="QuizMe" class="logo">
    </div>
  
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
        <li><a href="{{ url_for('new_flash') }}" class="active">New Flash</a></li>
        <li><a href="{{ url_for('get_started') }}">Get Started</a></li>
        <li><a href="{{ url_for('append') }}">Append</a></li>
        <li><a href="{{ url_for('success') }}">Success</a></li>
        <li><a href="{{ url_for('your_flashcards') }}">Your Flashcards</a></li>
        <li><a href="{{ url_for('about_us') }}">About Us</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">

    <div class="form-container">
        <p class = "paste"> Name your Flashcard </p>
        <textarea class="study-material2" placeholder="World History" rows="6"></textarea>
        <br>
        <a href="{{ url_for('your_flashcards') }}" class="get-started-button"> Submit</a>
      </div>


  </section>

</body>
</html>
