<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>QuizMe - Flashcards</title>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo-container">
      <img src="logo.png" alt="QuizMe" class="logo">
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Log out</a></li>
        <li><a href="{{ url_for('your_flashcards') }}">Your flashcasrds</a></li>

        <li><a href="{{ url_for('about_us') }}">About Us</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <h1 class="subtitle">Flashcard Set: {{ flashcard_set_name }}</h1>
    <ul class="flashcard-list">
      {% for flashcard in flashcards %}
        <li>
          <div class="flashcard">
            <h3 class="flashcard-front">{{ flashcard.front }}</h3>
            <p class="flashcard-back">{{ flashcard.back }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
</body>
</html>
