<!-- single-flashcard.html  -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title> QuizMe - Practice </title>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <a href="{{ url_for('index') }}" class="logo-link">
      <div class="logo-container">
        <h1><b>QuizMe</b></h1>
      </div>
    </a>

    <nav>
      <div class="nav-container">
        <ul class="nav-links">
        <li><a href="{{ url_for('your_flashcards') }}"> Your Flashcards </a></li>
        </ul>
        <div class="menu-toggle" id="menu-toggle">
          &#9776;
        </div>
      </div>

      <div class="dropdown-menu" id="dropdown-menu">
        <a href="{{ url_for('your_flashcards') }}"> Your Flashcards </a>
      </div>
    </nav>
  </header>


  <div class="instructions-card">
    <button class="close-button">&times;</button>
    <h4>💡 Instructions</h4>
    <p>
      Use the "Up" or "Right Arrow" keys to navigate to the next flashcard.<br>
      Use the "Down" or "Left Arrow" keys to navigate to the previous flashcard.<br>
      Click the star icon on the back of a flashcard to favorite it.
    </p>  
  </div>

  <div class="title_of_flashcard_set">
    <h2>{{ flashcard_set_name }}</h2>
  </div>
  
  <div class="wrapper">
    {% for flashcard in flashcards %}
    <div class="card-design">
      <div class="front">
        <p>{{ flashcard.front }}</p>
      </div>
      <div class="back">
        <p>{{ flashcard.back }}</p>
        <button class="favorite-button">&#9733;</button>

      </div>
    </div>
    {% endfor %}

    <div class="flashcard-navigation">
      <button id="prev-button" class="nav-button">
        <span class="button-text">Prev</span>
        <span class="button-icon">&#9664;</span>
      </button>
      <div id="flashcard-count" class="count-bubble">1 / 1</div>
      <button id="next-button" class="nav-button">
        <span class="button-text">Next</span>
        <span class="button-icon">&#9654;</span>
      </button>
    </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>

<style>


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>