<!-- your-flashcards.html   -->

{% extends "base.html" %}

{% block title %}QuizMe - Your Flashcards{% endblock %}

{% block content %}
<section class="hero_your_flashcards">
    <h1 class="subtitle_your_flashcards">Now displaying All the flashcards in your account</h1>
    <form id="searchForm" action="{{ url_for('search_flashcard_sets') }}" method="POST">
        <input type="text" id="search" name="search_keywords" placeholder="Enter keywords">
        <button type="submit" id="submit-button">Search</button>
    </form>
</section>

<section class="displaying_flashcards_section">
    <div class="flashcard-list-container">
        <div class="flashcard-list" style="max-height: 500px; overflow-y: auto;">
            {% if flashcard_sets %}
                {% for flashcard_set in flashcard_sets %}
                    <div class="flashcard-set-card">
                        <a href="{{ url_for('single_flashcard', flashcard_set_name=flashcard_set.name) }}">{{ flashcard_set.name }}</a>
                        <div class="side">
                            <button class="delete_button" onclick="deleteFlashcardSet('{{ flashcard_set.name }}')">Delete</button>
                            <a href="{{ url_for('edit_flashcard_set', flashcard_set_name=flashcard_set.name) }}" class="edit-button"><p id="edit"> Edit </p></a>
                        </div>
                    </div>
                    <p></p>
                {% endfor %}
            {% else %}
                <p id="subtitle_your_flashcards">No matching flashcard set was found</p>
            {% endif %}
        </div>
    </div>

</section>
<br>
<br>
{% endblock %}
